#admin container {
	position: absolute;
	display: block;
	padding: 30px;
	top: 100px;
	width: 100%;
}

.form_event {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 22%;
	left: 32%;
}

#admin .absences_container{
	position: absolute;
	display: block;
	padding: 30px;
	top: 14%;
	width: 45%;
	height: 32%;
	margin-left: 49%;
}

#admin .documents_container{
	position: absolute;
	display: block;
	padding: 30px;
	top: 40%;
	width: 10%;
	height: 37%;
	margin-left: 49%;
}

#admin .add_event_form {
	position: absolute;
	display: block;
	padding: 30px;
	top: 30%;
	width: 10%;
	height: 37%;
	margin-left: 49%;
}


#admin .notes_container{
	position: absolute;
	display: block;
	padding: 30px;
	top: 69%;
	width: 12%;
	height: 22%;
	margin-left: 49%;
}

#admin .calendrier {
	position: absolute;
	display: block;
	padding: 30px;
	top: 17%;
	width: 50%;
}

#admin .listeAbsences {
	width: 800px;
	margin: auto;
	min-height: 100px;
	background-color: #FFF;
	border-radius: 1px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  overflow-y: scroll;
	margin-right: 5%;
	margin-top: 3%;
}

#admin .listeDetails {
	width: 800px;
	margin: auto;
	min-height: 100px;
	background-color: #FFF;
	border-radius: 1px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  overflow-y: scroll;
	margin-right: 25%;
	margin-top: 5%;
}

#admin .listeDocuments {
	width: 800px;
	margin: auto;
	min-height: 100px;
	background-color: #FFF;
	border-radius: 1px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  overflow-y: scroll;
	margin-top: 18%;
	margin-right: 5%;
}

#admin .listeNotes {
	width: 800px;
	margin: auto;
	min-height: 100px;
	background-color: #FFF;
	border-radius: 1px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  overflow-y: scroll;
	margin-top: 32%;
	margin-right: 5%;
}

#admin table {
	width: 100%;
	border-collapse: collapse;
}

#admin tr {
	vertical-align: middle;
	text-align: center;
}

#admin .doc_down {
	vertical-align: middle;
	text-align: center;
}

#admin th {
	background-color: #4a69bd;
	color: #FFF;
	text-transform: uppercase;
	border-right: 1px solid #DFDFDF;
	border-left: 1px solid #DFDFDF;
}

#admin tr:nth-child(even) {
    background-color: #F7F7F7;
}

#admin .doc_down:nth-child(even) {
    background-color: #F7F7F7;
}

#admin td {
	border-right: 1px solid #DFDFDF;
	border-left: 1px solid #DFDFDF;
}

#admin tbody tr {
	cursor: pointer;
	transition: all .4s;
}

#admin tbody .doc_down {
	cursor: pointer;
	transition: all .4s;
}
/*
#admin tbody tr:hover {
	background-color: #DFDFDF;
	transition: all .4s;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
*/
#admin tr {
	height: 50px;
	width: 100%;
}

#admin .doc_down {
	height: 50px;
	width: 100%;
}

#admin table .complet {
	color: #2ECC71;
}

#admin table .imcomplet {
	color: #E74C3C;
}

#admin .boutonContainer {
	width: 800px;
	margin: auto;
}
