<!DOCTYPE html>
<html>
	<head>
	    <%- include('./partials/head'); -%>
	</head>

	<body id="admin">
		<header>
	    	<%- include('./partials/header') -%>
		</header>
		<container>
			<!--calendar-->

		    <div class="boutonContainer">
		    	<button class="bouton" type="button" id='addEvent'>New Event</button>
		    </div>
		</container>
	</body>

	<script>

	$(document).ready(function() {

	    // Ajout d'un questionnaire
	    $('#addEvent').click(function(){
	    	var nomEvent = '';
	    	//socket.emit('req_add_questionnaire', nomEvent);
	    	//socket.on('res_add_questionnaire', function(id_quest){
				//document.location.href = './questionnaire/'+ id_quest;
	    	});
	    });

	});
	</script>
</html>
