<!DOCTYPE html>
<html>
	<head>
	    <%- include('./partials/head'); -%>
	</head>

	<body id="admin">
		<header>
	    	<%- include('./partials/header') -%>
		</header>

		<container>
      <div class="btnRetour">
        <button type="button" onclick="document.location.href='../../admin'">Retour</button>
      </div>

			<div class="listeAbsences">
				<table>
					<thead><tr><th>Prenom élève</th><th>Nom élève</th> <th>Moyenne générale</th><th>Nombre d'absences</th></tr></thead>
					<tbody id="abs">	    <!--	Absences	-->	</tbody>
					</table>
			</div>

      <div class="boutonContainer">
        <button class="bouton" type="button" id='exportDataMatiere' >Exporter les résultats</button>
      </div>
		</container>


	</body>

	<script>

$(document).ready(function() {

// Show questionnary
var matieres = <%- JSON.stringify(matiere) %>;
var absences = <%- JSON.stringify(absences) %>;

console.log(matieres);
console.log(absences);

for(var i in matieres){
	var s = '<tr><td>' + matieres[i].PRENOM_ELEVE + '</td><td>'+ matieres[i].NOM_ELEVE +'</td><td>' + matieres[i].MOYENNE_ELEVE + '</td> <td>' + absences[i].NOMBRE_ABSENCES + '</td></tr>';
	$('#abs').append(s);
}

$("#exportDataMatiere").click(function(){
  /*
  socket.emit('req_export_data', ID_QUESTIONNAIRE, idSession);
  socket.on('res_export_data', function(data) {
    var dataQuestions = new Array();
    var dataEleve = new Array();
    var datajsonexport = new Array();
    for (var i in data) {
      if (dataQuestions.indexOf(data[i].Question) == -1)
        dataQuestions.push(data[i].Question);
    }
    for (var i in data) {
      if (dataEleve.indexOf(data[i].ID_ELEVE) == -1)
        dataEleve.push(data[i].ID_ELEVE);
    }
    for(var i in dataEleve) {
      var obje = new Object();
      for(var j in dataQuestions) {
        obje[dataQuestions[j]] = "";
      }
      obje["Telephone"] = "";
      obje["name"] = ""; // NOM ELEVE
      obje["ID"] = dataEleve[i];
      datajsonexport.push(obje);
    }

    for(i in datajsonexport) {
      for(j in data) {
        if(datajsonexport[i].ID == data[j].ID_ELEVE) {
          var Questions = data[j].Question;

          datajsonexport[i][Questions] = data[j].Reponse;
          datajsonexport[i]["Telephone"] = data[j].Numtel;
          data[j].NOM_ELEVE == null ? datajsonexport[i]["name"] = "" : datajsonexport[i]["name"] = data[j].NOM_ELEVE; // NOM ELEVE
        }
      }
    }
    console.log(JSONToCSVConvertor(JSON.stringify(datajsonexport),"ExportAmphiquizz",true)); // Lance le téléchargement
  });
  */
});

});
</script>
</html>
